---
import Logo from "@icons/Logo.astro";
import IconHamburger from "@icons/IconHamburger.astro";
import IconClose from "@icons/IconClose.astro";
import { fontAlata, fontJosefin } from "@variables/FontVariables";
import { navElements } from "@variables/navElements";
---

<header
  class="flex px-[2rem] pt-[3rem] pb-[10rem] 2xl:px-[12rem] xl:pt-[3.8rem] flex-col gap-[8.5rem] w-full mb-20 xl:px-[5rem]"
>
  <div class={`flex items-center justify-between ${fontAlata} `}>
    <Logo color="#fff" />
    <nav>
      <IconHamburger class="IconOpen block xl:hidden cursor-pointer" />
      <ul class="hidden xl:flex gap-12 text-white">
        {
          navElements.map((navElement) => (
            <li>
              <a href={navElement.href}>{navElement.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <div
    class="text-white border-2 py-9 xl:px-8 xl:py-8 2xl:w-[780px] xl:w-[650px] flex justify-center xl:self-start md:w-min md:px-0"
  >
    <p
      class={`text-[2.5rem] leading-[1] 2xl:text-[5rem] xl:text-[4.5rem] xl:leading-[1.1] uppercase text-balance tracking-wide ${fontJosefin} px-[4rem] xl:px-0 md:px-[2rem]`}
    >
      Immersive experiences that deliver
    </p>
  </div>

  <!-- Menú hamburguesa -->
  <nav
    id="hamburgerMenu"
    class="HamburgerMenu bg-black fixed inset-0 transform translate-x-full transition-transform duration-300 flex z-50"
  >
    <div class="flex flex-col gap-44 py-12 px-8 w-full">
      <div class="flex items-center justify-between">
        <Logo color="#fff" />
        <IconClose class="IconClose cursor-pointer" />
      </div>
      <ul class={`flex gap-5 text-white flex-col ${fontJosefin} text-2xl`}>
        {
          navElements.map((navElement) => (
            <li>
              <a href={navElement.href}>{navElement.name.toUpperCase()}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>

<script>
  // Selecciona los elementos del DOM
  const hamburgerMenu = document.getElementById("hamburgerMenu");
  const openIcon = document.querySelector(".IconOpen");
  const closeIcon = document.querySelector(".IconClose");

  openIcon?.addEventListener("click", () => {
    hamburgerMenu?.classList.remove("translate-x-full");
    hamburgerMenu?.classList.add("translate-x-0");
  });

  closeIcon?.addEventListener("click", () => {
    hamburgerMenu?.classList.remove("translate-x-0");
    hamburgerMenu?.classList.add("translate-x-full");
  });
</script>

<style>
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url("/public/images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: 1280px) {
    header {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("/public/images/desktop/image-hero.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
</style>
