---
import { fontAlata, fontJosefin } from "@variables/FontVariables";

const OurCreations = {
  title: "OUR CREATIONS",
  creations: [
    {
      title: "DEEP\nEARTH",
      img: {
        mobile: "/images/mobile/OurCreations/image-deep-earth.jpg",
        desktop: "/images/desktop/OurCreations/image-deep-earth.jpg",
      },
    },
    {
      title: "NIGHT\nARCADE",
      img: {
        mobile: "/images/mobile/OurCreations/image-night-arcade.jpg",
        desktop: "/images/desktop/OurCreations/image-night-arcade.jpg",
      },
    },
    {
      title: "SOCCER\nTEAM VR",
      img: {
        mobile: "/images/mobile/OurCreations/image-soccer-team.jpg",
        desktop: "/images/desktop/OurCreations/image-soccer-team.jpg",
      },
    },
    {
      title: "THE\nGRID",
      img: {
        mobile: "/images/mobile/OurCreations/image-grid.jpg",
        desktop: "/images/desktop/OurCreations/image-grid.jpg",
      },
    },
    {
      title: "FROM UP\nABOVE VR",
      img: {
        mobile: "/images/mobile/OurCreations/image-from-above.jpg",
        desktop: "/images/desktop/OurCreations/image-from-above.jpg",
      },
    },
    {
      title: "POCKET\nBOREALIS",
      img: {
        mobile: "/images/mobile/OurCreations/image-pocket-borealis.jpg",
        desktop: "/images/desktop/OurCreations/image-pocket-borealis.jpg",
      },
    },
    {
      title: "THE\nCURIOSITY",
      img: {
        mobile: "/images/mobile/OurCreations/image-curiosity.jpg",
        desktop: "/images/desktop/OurCreations/image-curiosity.jpg",
      },
    },
    {
      title: "MAKE IT\nFISHEYE",
      img: {
        mobile: "/images/mobile/OurCreations/image-fisheye.jpg",
        desktop: "/images/desktop/OurCreations/image-fisheye.jpg",
      },
    },
  ],
};

const { title, creations } = OurCreations;
---

<main
  class="flex flex-col px-8 items-center justify-center gap-10 w-full flex-1 mb-20 xl:mt-14"
>
  <section class="flex flex-col gap-10 items-center mb-14 w-full xl:relative">
    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="/images/desktop/image-interactive.jpg"
      />
      <img
        src="/images/mobile/image-interactive.jpg"
        alt=""
        class="xl:mr-[23rem]"
      />
    </picture>

    <article
      class="text-center flex flex-col gap-4 px-4 xl:absolute xl:bg-white xl:bottom-[-6.2rem] 2xl:right-[14rem] xl:right-[-3rem] xl:w-[650px] xl:p-24 xl:text-start tablet800:px-[5.6rem]"
    >
      <h1
        class={`text-[2.1rem] ${fontJosefin} text-black leading-[1] text-balance xl:text-[2.8rem] md:text-[2.9rem]`}
      >
        THE LEADER IN INTERACTIVE VR
      </h1>
      <p
        class={`${fontAlata} text-Dark-Gray text-balance leading-[1.7] xl:text-[.9rem] md:text-[1.3rem] tablet800:text-[1.2rem]`}
      >
        Founded in 2011, Loopstudios has been producing world-class virtual
        reality projects for some of the best companies around the globe. Our
        award-winning creations have transformed businesses through digital
        experiences that bind to their brand.
      </p>
    </article>
  </section>

  <div
    class="hidden xl:flex items-center justify-between 2xl:w-[61%] xl:w-[89%] mb-8"
  >
    <h1 class={`${fontJosefin} text-black text-[2.8rem] mt-2`}>
      {title}
    </h1>
    <button
      class={`hidden ${fontAlata} px-10 py-[.65rem] border-2 border-black tracking-[.30rem] hover:bg-black hover:text-white transition-all xl:block`}
    >
      SEE ALL
    </button>
  </div>

  <h1
    class={`block text-[2.1rem] ${fontJosefin} text-black xl:hidden md:text-[2.6rem] tablet800:text-[2.9rem]`}
  >
    {title}
  </h1>

  <section class="ImageContainer flex flex-col items-center gap-6 md:gap-8">
    {
      creations.map(({ title, img }) => {
        return (
          <article class="ImageContainerArticle relative hover:cursor-pointer">
            <picture>
              <source media="(min-width: 1280px)" srcset={img.desktop} />
              <img src={img.mobile} alt="" />
            </picture>
            <div class="overlayP sm:w-1/2 sm:h-full absolute z-10 top-0 left-0 bg-gradient-to-r from-black/65 to-transparent xl:bg-gradient-to-t xl:h-1/2 xl:w-full xl:top-[14rem]" />
            <p
              class={`sm:top-[3.5rem] sm:left-4 absolute text-white text-2xl  leading-[1.5rem] whitespace-pre-line ${fontJosefin} z-30 xl:text-3xl xl:top-[22rem] xl:left-[20%] md:top-[7rem] md:text-[2.5rem] md:left-10 md:leading-[2.5rem]`}
            >
              {title}
            </p>
            <div class="overlayA w-full h-full absolute top-0 left-0 bg-white opacity-0 transition-all z-20" />
          </article>
        );
      })
    }
  </section>

  <button
    class={`block ${fontAlata} px-10 py-[.65rem] border-2 border-black tracking-[.30rem] hover:bg-black hover:text-white transition-all xl:hidden`}
  >
    SEE ALL
  </button>
</main>

<style>
  .ImageContainerArticle:hover .overlayA {
    opacity: 0.7;
  }

  .ImageContainerArticle:hover p {
    @apply text-black;
  }

  @media screen and (min-width: 1280px) {
    .ImageContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
</style>
